*{
    padding: 0px;
    margin: 0px;
}

html {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #100806;
    width: 100%;
    height: 25.953;
    padding: 23px 0px;
    text-align: center;
    vertical-align: middle;
}

#one {
    display: inline;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
}

#two {
    display: inline;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
}

.home {
    color: #9A7032;
    display: inline;
    text-transform: capitalize;
    padding: 20px 12px;
}

.nd {
    display: inline;
    text-transform: capitalize;
    color: white;
    padding: 20px 12px;
    text-align: center;
    vertical-align: middle;
}

.dog {
    width: 140px;
    max-width: 140px;
    height: auto;
}

#hero {
    height: 959px;
    width: 100%;
    background-color: black;
}

#heropic {
    height: 751px;
    width: 800px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 70px 34px 70px 34px;
    margin: 0% 0% 0% 28.00000001%;   
}

/*-------------------------------- Hero 2 ----------------------------------------*/

#hero2 {
    width: 100%;
    height: 1400px;
    background-image: url(Images/nicepic.jpg);
}

#hero2nav {
    width: 100%;
    height: 62px;
}

#hero2head {
    padding: 50px 0px 25px 510px;
    content: 850px 62.891px;
    height: 100%;
}

#menu {
    padding: 87px 100px 30px 100px;
    margin: 0% 0% 0% 37.5%;   
}

#stream {
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 26px;
    display: inline-block;
    padding: 14.5px 0px 14.5px 0px;
    width: 100%;
    text-transform: uppercase;
    font-family: sans-serif;
}

.stream {
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: -3.5px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    letter-spacing: .08em;
}

.stream1 {
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: -4px;
    padding: 15px 60px 15px 0px;
    text-align: center;
    letter-spacing: .08em;
}

#purchase {
    vertical-align: middle;
    color: white;
    font-size: 26px;
    display: inline-block;
    padding: 14.5px 0px 14.5px 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.purchase {
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: -4px;
    padding: 15px 40px 15px 40px;
    letter-spacing: .08em;
}

.purchase1 {
    color: white;
    font-size: 18px;
    display: inline-block;
    margin: -4px;
    padding: 15px 60px 15px 0px;
    text-align: center;
    letter-spacing: .08em;
}

.purchase2 {
    text-transform: uppercase;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: -3.5px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    letter-spacing: .08em;
}

#lyrics {
    vertical-align: middle;
    color: white;
    font-size: 26px;
    display: inline-block;
    padding: 14.5px 0px 14.5px 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .08em;
}

/*-------------------------------- Critical ----------------------------------------*/

#crit7head {
    vertical-align: middle;
    color: white;
    font-size: 26px;
    display: inline-block;
    padding: 14.5px 0px 14.5px 0px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .08em;
}

#critimage {
    padding: 30px 100px 30px 100px;
    margin: 0% 0% 0% 37.5%;   
}

/*-------------------------------- Hero 3 ----------------------------------------*/

#hero3 {
    background-color: black;
    width: 100%;
    height: 880px; 
}

#hero3nav {
    width: 100%;
    height: 62px;
}

#heartkiller {
    padding: 75px 0px 25px 480px;
    content: 850px 62.891px;
    height: 100%;
    vertical-align: middle;

}

#freeway {
    width: 1000px;
    height: 650px;
    vertical-align: middle;
    padding: 120px 0px 20px 400px;

}

/*-------------------------------- Hero 4 ----------------------------------------*/

#hero4 {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;    
    background-image: url(Images/black&white3.jpg);
}

#hero4nav {
    width: 100%;
    height: 62px;
}

#tourheader {
    padding: 75px 0px 25px 480px;
    content: 850px 62.891px;
    height: 100%;
    vertical-align: middle;    
}

#tour1 {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    padding: 120px 0px 10px 400px;
    text-align: center;
    letter-spacing: .08em; 

}

#tour2 {
    padding: 10px 0px 0px 400px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    letter-spacing: .08em;
}

#tour3 {
    padding: 10px 0px 0px 400px;
    padding: 10px 0px 0px 400px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    letter-spacing: .08em;
}

#tour4 {
    padding: 10px 0px 0px 400px;
    padding: 10px 0px 0px 400px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    letter-spacing: .08em;
}

.Date {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    text-align: center;
    letter-spacing: .08em; 

}

.venue {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    text-align: center;
    letter-spacing: .08em; 

}

.locations {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    text-align: center;
    letter-spacing: .08em; 

}
.tickets {
    text-transform: uppercase;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: 5px;
    padding: 7px 12px 7px 12px;
    text-align: center;
    letter-spacing: .08em; 
}

.rsvp {
    text-transform: uppercase;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: -3.5px;
    padding: 7px 12px 7px 12px;
    text-align: center;
    letter-spacing: .08em;
}

/*-------------------------------- Hero 5 ----------------------------------------*/

#hero5 {
    background-color: black;
    width: 100%;
    height: 880px; 
}

#hero5nav {
    width: 100%;
    height: 62px;
}

#musicheader {
    padding: 75px 0px 25px 480px;
    height: 100%;
    vertical-align: middle;    
}

#row1 {
    vertical-align: middle;    
    width: 100%;
    height: 200px;
    padding: 100px 0px 10px 0px;
    text-align: center;
}

#row2 {
    vertical-align: middle;    
    width: 100%;
    height: 200px;
    padding: 5px 0px 10px 0px;
    text-align: center;
}

#row3 {
    vertical-align: middle;    
    width: 100%;
    height: 200px;
    padding: 5px 0px 10px 0px;
    text-align: center;
}

.album {
    height: 200px;
    width: 200px;
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

/*-------------------------------- Hero 6 ----------------------------------------*/

#hero6 {
    background-image: url(Images/greenbackground.jpg);
    height: 400px;
    width: 100%;
}

#hero6nav {
    width: 100%;
    height: 62px;
}

#subscribe {
    padding: 75px 0px 25px 480px;
    height: 100%;
    vertical-align: middle;    
}

#info {
    padding: 100px 0px 5px 735px;
}

#email{
    color: lightgrey;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: 5px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    letter-spacing: .08em;
    vertical-align: middle;
    background-color: white;
}

#sign {
    text-transform: uppercase;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 14px;
    display: inline-block;
    margin: 5px;
    padding: 15px 40px 15px 40px;
    text-align: center;
    letter-spacing: .08em;
    vertical-align: middle;
}

#term {
    padding: 0px 0px 0px 850px;

}

#terms {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: 15px 40px 15px 40px;
    text-align: center;
    letter-spacing: .08em;
    vertical-align: middle;

}

#media {
    padding: 40px 0px 40px 770px;
  
}
