*{
    padding: 0px;
    margin: 0px;
}

html {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #100806;
    width: 100%;
    height: 25.953;
    padding: 23px 0px;
    text-align: center;
    vertical-align: middle;
}

#one {
    display: inline;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
}

#two {
    display: inline;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1em;
}

.home {
    color: #9A7032;
    display: inline;
    text-transform: capitalize;
    padding: 20px 12px;
}

.nd {
    display: inline;
    text-transform: capitalize;
    color: white;
    padding: 20px 12px;
    text-align: center;
    vertical-align: middle;
}

.dog {
    width: 140px;
    max-width: 140px;
    height: auto;
}

#hero {
    height: 959px;
    width: 100%;
    background-color: black;
}

#heropic {
    height: 751px;
    width: 800px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 70px 34px 70px 34px;
    margin: 0% 28.00000001% 0% 28.00000001%;   
}

#hero2 {
    width: 100%;
    height: 1544.94px;
    background-image: url(Images/nicepic.jpg);
}